<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="allheader">
            <h1>Register</h1>
        </div>
       
        <% if (validationErrors.length > 0) { %>
          <div class= "user-message user-message--error">
            <ul class="validationError">
           <% validationErrors.map(error => {          %>

            
               <li><%= error.msg %></li> 
            
        <% })%></ul></div> <%}%>
        <form class="login-form" action="/register" method="POST" novalidate>
            <div class="form-group ">
                <label for="email">E-Mail <span class="required">*</span></label>
                <input 
                class="form-control <%= validationErrors.find(e => e.param === 'email' ) ? 'invalid' : ' ' %>"
                type="email" 
                name="email" 
                id="email" 
                value="<%= oldInput.email %>">
            </div>
           
            <div class="form-group">
              <label for="password">Password <span class="required">*</span></label>
              <input 
              class="form-control <%= validationErrors.find(e => e.param === 'password' ) ? 'invalid' : ' ' %>"
              type="password" 
              name="password" 
              id="password" 
              value="<%= oldInput.password %>">
          </div>

          <div class="form-group">
            <label for="name">Name <span class="required">*</span></label>
            <input 
            class="form-control <%= validationErrors.find(e => e.param === 'name' ) ? 'invalid' : ' ' %>"
            type="text" name="name" id="name"
            value="<%= oldInput.name %>">
        </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="btnhome" type="submit">Register</button>                
          <div class="centered">
            <p>Already have an account? <a href="/login"> Login</a></p>
            </div><br>
      </form>
    </main>